html {
    margin: 0;
    font-family: -apple-system, "Helvetica Neue", sans-serif;
    color: #111;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

form:after {
    content: "";
    display: table;
    clear: both;
}

a {
    color: purple;
}


/* login form styles */

.form_element {
    margin: 0 0 1em 0;
}

.form_element-inner {
    position: relative;
}

.form_label {
    font-size: 1.1em;
    display: block;
    margin: 0 0 0.5em 0;
}

.form_input {
    width: 100%;
    padding: 0.5em;
    font-size: 1.1em;
    border: 2px solid ##eee;
    border-radius: 10px;
}

.form_required {
    float: right;
    font-size: 0.8em;
    background: red;
    color: white;
    padding: 0.3em;
}

.form_hint {
    margin: 0;
    font-size: 1.1em;
}

.form_hint:before {
    content: "\1F6C8";
    font-size: 1.2em;
    margin: 0 0.2em 0 0;
}

.form_submit {
    background: navy;
    color: #fff;
    border: none;
    padding: 0.5em;
    font-size: 1.25em;
    float: right;
    border-radius: 10px;
}

.form_error {
    margin: 0;
    padding: 0.4em;
    color: white;
    background-color: red;
}

.has-error input {
    border: 2px solid red;
}

.form_toggle-password {
    position: absolute;
    top: 3px;
    right: 1px;
    padding: 1.2em;
    background: #eee;
    border: none;
}
